html
  box-sizing: border-box
    
* *:before *:after
  box-sizing inherit

body
  background-color #222222
  font-family sans-serif
  color #eeeeee

.container
  max-width 900px
  margin 0 auto
  min-height 100%
  background #181818
  box-shadow 0 2px 10px 0 rgba(0,0,0,0.16), 0 2px 5px 0 rgba(0,0,0,0.26)

header
  background #202020
  border 1px solid #333
  border-radius 5px
  padding 0px 20px  

ul
  max-width 860px
  margin 20px auto
  background #202020
  border 1px solid #333
  border-radius 5px
  padding 20px  
  
li
  list-style-type none
  font-size 10px
  background #222
  border 1px solid #282828
  border-left 2px solid #333
  border-top-right-radius 3px
  border-bottom-right-radius 3px
  padding 3px
  margin 3px 1px

.login
  color aqua
  
.delete
  float right
  margin -3px
  
.toggle-checked
  border-style none
  border 1px solid #444

.new-resolution input[type="text"]
  height 2em
  width 180px
  background-color #202020
  border-bottom 2px solid aqua
  border-top-left-radius 3px
  border-top-right-radius 3px
  color aqua
  font-weight normal
  font-size 1.0em

.checked
  font-style italic
  color red

